.container {
  flex: 1;
  margin-bottom: 40px;
}

.skeleton {
  height: 50px;
  width: 540px;
  margin-top: 10px;
  background-color: #676767;
  &:not(:last-child){
    margin-bottom: 20px;
  }
}

.pgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}