.chat {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;

}

.textarea {
  width: 100%;
  min-height: 60px;
  padding: 10px;
  border: none;
  border-radius: 8px 0 0 8px;
  resize: none;
  outline: none;
}

.btn {
  padding: 10px 30px;
  border: 0;
  border-radius: 0 8px 8px 0;
  background: #1DB954;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  transition: opacity 0.3s ease-in-out;

  &:hover{
    opacity: 0.8;
  }
}