.info {
  position: relative;
}

.cover {
  border-radius: 16px;
}

.avatar {
  position: absolute;
  top: 30px;
  left: 30px;
  background-color: #FFFFFF;
  width: 200px;
  height: 200px;
  border-radius: 100px;
}